{% extends 'base.html' %}
{% block title %} Sales {% endblock %}
{% block content %}
<div>
    <p>This is sales</p>


    <div>
        <form action="/add_sales" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Product ID</label>
                <input type="number" name="p_name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Quantity Sold</label>
                <input type="number" name="b_price" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Selling Price</label>
                <input type="number" name="s_price" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Add Sale</button>
        </form>
    </div>

    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Sale ID</th>
                    <th>Product ID</th>
                    <th>Quantiy Sold</th>
                    <th>Sale date</th>

                </tr>
            </thead>
            <tbody>
                {% for i in sales_data %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td> {{ i[2] }}</td>
                    <td> {{ i[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}