{% extends 'base.html' %}
{% block title %} Stock {% endblock %}
{% block content %}
<div>
    <p>This is stock</p>

    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Stock ID</th>
                    <th>Product ID</th>
                    <th>Stock quantity</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for i in stocks_data %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{  i[1] }}</td>
                    <td> {{ i[2] }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}